* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3{
  font-size: 32px;
  font-weight: 300;
  margin: 0px 0px;
}
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
.container {
  display: grid;
  grid-template-columns: 25% 75%;
}
#WorkGrid{
  margin  0px 5%;
  display: grid;
  grid-template-rows: 300px 300px 300px 300px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "rb rb"
  "rb rb"
  "p1 p2"
  "p3 p4" ;
}

#contact-content{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: 50px;
  
}

/*nav{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: 50px;
}*/

nav{
  width: 800px;
  position: absolute;
  top: 0%;
  left: 55%;
}

nav ul{
  padding: 20px auto;
  margin: 20px 20px ;
}

nav li{
  display: inline;
  text-decoration: none;
  margin: auto 5px;
}
header{
  display: grid;
  grid-template-columns:  25% 25% 50%;
  grid-template-areas: 50px;
}
.hero-banner{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px;

}
.WorkGridArea  {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

/*.WorkGridArea {
  background-position: center;
  background-size: cover;
  align-items: center;
  position: relative;
}*/

#work{
}

/*#bookcases {
  grid-area:bk ;
  background-image: url("../images/02-run-buddy.jpg");

}
#bedroom {
  grid-area: bd;
  background-image: url("../images/beds@2x.png");
}

#couches {
  grid-area: co;
  background-image: url("../images/couch@2x.png");
}

#patio {
   grid-area: pa ; 
  background-image: url("../images/patio@2x.png");
}

#desks {
  grid-area: de;
  background-image: url("../images/desks@2x.png");
}
*/

#run-buddy{
background-image: url("../images/02-run-buddy.jpg");
grid-area: rb;
}
#portfolio1{
background-image: url("../images/02-portfolio-1.jpg");
grid-area: p1;}

#portfolio2{
background-image: url("../images/02-portfolio-2.jpg");
grid-area: p2;}

#portfolio3{
background-image: url("../images/02-portfolio-3.jpg");
grid-area: p3;}

#portfolio4{
background-image: url("../images/02-portfolio-4.jpg");
grid-area: p4;}

.contacts ul{
  width: auto;
  margin: 0 25px;
  padding: 0 20px;
}

.contacts li{
  display: inline;
  text-decoration: none;
  padding: 0 20px 30px;
}